---

---

<button
  id="menu-button"
  class="menu-button"
  aria-expanded="false"
  aria-controls="menu"
>
  <span class="hamburger" aria-label="メニューボタン">
    <span class="line line-top"></span>
    <span class="line line-middle"></span>
    <span class="line line-bottom"></span>
  </span>
</button>
<nav id="menu" class="menu">
  <ul class="list">
    <li><span class="list-item">1</span></li>
    <li><span class="list-item">2</span></li>
    <li><span class="list-item">3</span></li>
  </ul>
</nav>

<style>
  .menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #eee;
    width: 64px;
    height: 64px;
    border-radius: 1rem;
    display: grid;
    place-content: center;
    cursor: pointer;
  }
  .hamburger {
    width: 32px;
    height: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .line {
    display: block;
    background: black;
    width: 100%;
    height: 4px;
    border-radius: 1rem;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100svh;
    visibility: hidden;
    background-color: #eee;
    z-index: -1;
    &.open {
      visibility: visible;
    }
  }
  .list {
    list-style: none;
    & li {
      --border-width: 100px;
      background-color: #fff;
      margin-bottom: 1rem;
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 5%%;
        width: var(--border-width);
        height: 1px;
        background-color: black;
        box-sizing: border-box;
      }
    }
  }
  .list-item {
    display: inline-block;
  }
</style>
<script>
  import gsap from "gsap";
  const menuButton = document.getElementById("menu-button");
  const menu = document.getElementById("menu");
  const tl = gsap.timeline({ paused: true, reversed: true });
  const tl2 = gsap.timeline({
    repeat: -1,
    yoyo: true,
    repeatDelay: 0.2,
  });
  const tl3 = gsap.timeline({
    repeat: -1,
    repeatDelay: 0,
  });

  tl.to(
    ".hamburger span:nth-child(1)",
    {
      duration: 0.1,
      // rotation: 45,
      y: 14,
      ease: "ease-out",
    },
    0
  );
  tl.to(
    ".hamburger span:nth-child(2)",
    {
      duration: 0.1,
      opacity: 0,
      ease: "ease-out",
    },
    0
  );
  tl.to(
    ".hamburger span:nth-child(3)",
    {
      duration: 0.1,
      // rotation: -45,
      y: -14,
      ease: "ease-out",
    },
    0
  );
  tl.to(
    ".hamburger span:nth-child(1)",
    {
      duration: 0.2,
      rotation: 45,
      // y: 14,
      ease: "ease-out",
    },
    "+=0.1"
  );
  tl.to(
    ".hamburger span:nth-child(3)",
    {
      duration: 0.2,
      rotation: -45,
      // y: -14,
      ease: "ease-out",
    },
    "<"
  );

  tl2.from("li", {
    "--border-width": "0px",
    duration: 1,
    ease: "power2.inOut",
    stagger: 0.1,
  });
  tl3
    .from(
      ".list-item",
      {
        y: "100%",
        duration: 1,
        ease: "power2.inOut",
        stagger: 0.1,
      },
      0
    )
    .to(
      ".list-item",
      {
        y: "0%",
        duration: 1,
        ease: "power2.inOut",
        stagger: 0.1,
      },
      1
    )
    .to(
      ".list-item",
      {
        y: "-100%",
        duration: 1,
        ease: "power2.inOut",
        stagger: 0.1,
      },
      1
    )
    .set(".list-item", {
      y: "100%",
    });

  menuButton.addEventListener("click", () => {
    tl.reversed() ? tl.play() : tl.reverse();
    const expanded = menuButton.getAttribute("aria-expanded") === "true";
    menuButton.setAttribute("aria-expanded", String(!expanded));
    menu.classList.toggle("open");
  });
</script>
